{% extends "base_generic.html" %}

{% block content %}
      <h2>Регистрация</h2>
      <form method="post">
          {% csrf_token %}
          <div class="flex_form">
          <label for="id_{{ form.username.name }}">Никнейм :</label> {{ form.username }}<br>
          <label for="id_{{ form.password1.name }}">Пароль:</label> {{ form.password1 }}<br>
          <label for="id_{{ form.password2.name }}">Повторите пароль:</label> {{ form.password2 }}
          </div><br>
        <button type="submit">Регистрация</button>
      </form>
{% endblock %}