{% extends "base_generic.html" %}

{% block content %}
    <h1>Department List
         {% if user.is_authenticated %}
            <a title="create new department" href="{% url 'department_create' %}" class="top-menu"><span class="glyphicon glyphicon-plus" ></span></a>
       {% endif %}
    </h1>

    {% if department_list %}
    <ul>

      {% for department in department_list %}
      <li>
        <a href="{{ department.get_absolute_url }}">{{ department.department_name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no departments.</p>
    {% endif %}
{% endblock %}