{% extends "base_generic.html" %}

{% block content %}
    <h3>Студент :</h3>
    <h2>{{ student.student_name }}</h2>
    Дата рождения:{{student.date_of_birth}}
    <hr>
    <b>Общая информация:</b>
    <ul>
        <!--<li>Университет: {{university_data}}}</li> -->
        <li>Факультет: {{student.faculty}}</li>
        <li>Начал обучение в {{student.begin_of_study}}</li>
        <li>Курс: {{student.calculate_course}}</li>
        <li>На данный момент : {{student.status}}</li>
        <li>Наставник : {{student.mentor_id}}</li>
        <li>Отдел : {{student.department_id}}</li>
    </ul>
    <hr>
    <h3>Красткое описание</h3><br>
    {{student.summary}}
    <hr>
    <h3> Комментарии </h3> <br>
    {% for comment in  comment_data %}
      <h5>({{comment_data.mentor_id}})    {{comment_data}}</h5>
    {% endfor %}

{% endblock %}