{% extends "base_generic.html" %}
{% load static %}
{% block jsblock %}
    <script type="text/javascript" src="{% static 'js/filter_students.js' %}" defer></script>
{% endblock %}
{% block content %}
    <h1>Список студентов
        {% if user.profile_of_user.is_not_guest %}
            <a class="btn btn-default" href="{% url 'student_create' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>

    <form  action="{% url 'student' %}" method="get" class="filter_students_form">
        {% csrf_token %}
<!--        {{ form.student_name }}-->
<!--        {{ form.faculty }}-->
<!--        {{ form.status }}-->
        <input name="q" type="text" placeholder="Search...">
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    {% if student_list  %}
        <div class = "student_list">
            {%for student in  student_list  %}
                 <ul>
                     <li><h4><a href="{{ student.get_absolute_url }}">{{student.student_name}}</a></h4></li>
                 </ul>
            {% endfor %}
        </div>
    {%else%}
        <h2>Студентов почему то нет :(</h2>
    {%endif%}
{% endblock %}