{% extends "base_generic.html" %}

{% block content %}
{% load static %}

    <h3>Студент :</h3>
<h2>{{ student.student_name }}
     {% if user.profile_of_user.is_not_guest %}
        <a class="btn btn-default" href="{% url 'student_update' student.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'student_delete' student.id%}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
</h2>
    {%if student.student_photo %}
        <img src="{{ student.student_photo.url }}" class = "border" width="200" height="200">
    {%else%}
        <img src="{% static 'images/no_photo.png'%}" class = "border" width="200" height="200">
    {%endif%}
    <hr>
    <b>Дата рождения:</b>{{student.date_of_birth}}
    <hr>
    <b>Общая информация:</b>
    <ul>
        <li>Университет: <a href="{{ student.faculty.university.get_absolute_url }}"> {{student.faculty.university}}</a></li>
        <li>Факультет: {{student.faculty.faculty_name}}</li>
        <li>Начал обучение в {{student.begin_of_study}}</li>
        <li>Курс: {{student.calculate_course}}</li>
        <li>На данный момент : {{student.get_status_display}}</li>
        <li>Наставник : {{student.mentor}}</li>
        <li>Отдел : <a href="{{ student.department.get_absolute_url }}"> {{student.department.department_name}}</a></li>
    </ul>
    <hr>
    <h3>Красткое описание</h3><br>
    {{student.summary}}
    <hr>
    <h3> Комментарии <a class="btn btn-default" href="{% url 'comment_create' student.id%}"><span class="glyphicon glyphicon-plus"></span></a> </h3>

    {% for comment in  student.comment_for_student.all %}
      <h5>
          ({{comment.mentor}})  {{comment}}
      </h5>
    {% endfor %}
    <form  action="{% url 'student-detail' student.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.comment }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}