{% extends "base_generic.html" %}

{% block content %}
    <h1>University List
        {% if user.is_authenticated %}
            <a class="btn btn-default" title="create new university" href="{% url 'university_create' %}" class="top-menu"><span class="glyphicon glyphicon-plus" ></span></a>
       {% endif %}
    </h1>

    {% if university_list %}
    <ul>

      {% for university in university_list %}
      <li>
        <a href="{{ university.get_absolute_url }}">{{ university.name_of_university }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no university.</p>
    {% endif %}
{% endblock %}