{% extends "base_generic.html" %}

{% block content %}
<h1>{{ university.name_of_university }}
    {% if user.profile_of_user.is_not_guest_and_mentor %}
           <a class="btn btn-default" href="{% url 'university_update' pk=university.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
           <a class="btn btn-default" href="{% url 'university_delete' pk=university.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
       {% endif %}
</h1>

<div id="faculty_list_of_university">Список факультетов</div>
    <ui>
        {% for faculty in university.faculty_of_university.all %}
            <li>
                {{ faculty.faculty_name }}
            </li>
        {% endfor %}
    </ui>

{% endblock %}