{% extends "base_generic.html" %}

{% block content %}
<h1>{{ university.name_of_university }}
    {% if user.is_authenticated %}
           <a class="btn btn-default" href="{% url 'university_update' pk=university.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
           <a class="btn btn-default" href="{% url 'university_delete' pk=university.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
       {% endif %}
</h1>


<div>Список студентов</div>
<div id="faculty_list_of_university">Список факультетов</div>
    <ui>
        {% for facylty in university.faculty_of_university.all %}
            <li>
                {{ facylty.faculty_name }}
            </li>
        {% endfor %}
    </ui>

{% endblock %}