.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.border {
    border: 3px solid #0e1936;
}
#faculty_list_of_university{
    border: 1px solid black;
    padding: 10px;
}

.flex_form{
    text-align: right;
    display: inline-block;
}